/* 
    Created on : 03 Nov 2022, 9:11:59 AM
    Author     : Dimakatso Sebatane*/




.topnav i{
    float:right;
}
.topnav h1,h1{
    font-size:40px;
    font-family:"Pacifico";
    font-style: normal;
}

body{
    background:#C799BA;
}

.item_name{
    padding: 12px 0px;
}

.item_name{
    margin-left: 5%;

    font-size: 25px;
    border-style: solid;
}
.cupcakes_img div{
    padding: 12px 0px;
    float:left;
}

.cupcakes label{
    margin-left:15%;
}
#cup_ingr ul{
    background-color:white;
}
.cupcakes{
    clear:left;
}

#cup_img{
    margin-top:5%;
}
.cont{
    clear:left;
    width:100%;
}

#price-button{
    margin-left: 0%;
    clear: left;
    background: #2C88CB; 
    border: none; 
    color: #000000;
}
#add-to-cart-button{
    width:12px;
    clear: left;
    margin-left:28%;
    background: #2C88CB; 
    box-shadow: 0 3px 13px -2px rgba(0,0,0,.15);
    color: #000000;
}
.topnav h1 a{
    text-decoration: none;
    color:black;

}

